.busy-indicator {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.busy-indicator__content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.busy-indicator__icon {
  margin-left: $s-size;
}

.busy-indicator--xl {
  font-size: $font-size-xxlarge;
}

.busy-indicator--lg {
  font-size: $font-size-xlarge;
}

.busy-indicator--md {

}

.busy-indicator--sm {
  font-size: $font-size-xsmall;
}

.busy-indicator--full-page {
  height: 100vh;
  width: 100vw;
}

.busy-indicator--half-page {
  height: 50vh;
  width: 100vw;
}
