body {
  background: $off-white;
  color: $black;
  font-family: $font-primary;
}

h1, h2, .h1, .h2 {
  font-family: $font-secondary;
}

a {
  color: $blue;

  &:hover {
    color: $blue;
  }
}

.text-blue {
  color: $blue;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-react-blue {
  color: $react-blue;
}

.page {
  min-height: 75vh;
}

.page-full {
  height: 100vh;
  width: 100vw;
}

.page-half {
  height: 50vh;
  width: 100vw;
}
