// coolors
$off-white: #f7f7f7;
$black: #090c08;
$blue: #2196f3;
$dark-grey: #343a40;
$react-blue: #36d9f8;

// Font Families
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// Font Sizes
$font-size-xsmall: 0.8rem;
$font-size-small: 0.9rem;
$font-size-medium: 1.0rem;
$font-size-large: 1.6rem;
$font-size-xlarge: 2.4rem;
$font-size-xxlarge: 3.6rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
